* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

/* Navbar */
.navbar{
    background-color: #172937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.header-logo-txt {
    margin: 0;
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    margin-left: 20px;
    color: #f9faf8;
}
.header-links span{
    margin-right: 20px;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #e5e7eb;
}