* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

/* Navbar */
.navbar{
    background-color: #172937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px 50px;
}
.header-logo-txt {
    margin: 0;
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: #f9faf8;
}
.header-links span{
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 20px;
}

/* Hero section */
.hero-section{
    display: flex;
    align-items: center;
    height: 60vh;
    width: 100%;
    background-color: #172937;
    padding: 0px 50px;
}
.hero-content{
    width: 50%;
}
.hero-content h1{
    margin: 0;
    font-size: 48px;
    color: #f9faf8;
    font-family: "Roboto", system-ui;
    font-weight: 900;
    margin-bottom: 20px;
}
.hero-section p{
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
    font-family: "Roboto", system-ui;
    margin-bottom: 20px;
}
.signup-btn{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: #f9faf8;
    background-color: #3882f6;
    font-family: "Roboto", system-ui;
}
.signup-btn:hover{
    background-color: #172937;
}
.image-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

/* Servive section */
.service-section{
    width: 100%;
    height: 50vh;
}
.service-section h1{
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-family: "Roboto", system-ui;
    font-weight: 900;
    margin: 50px 0px;
}
.service-images{
    display: flex;
    justify-content: center;
}
.service-box{
    margin-right: 80px;
    margin-left: 80px;
    width: 180px;
}
.service-box img{
    outline: 2px solid #3882f6;
    margin-bottom: 10px;
    border-radius: 20px;
}
.service-box p{
    font-size: 16px;
    font-family: "Roboto", system-ui;
    font-weight: 400;
}
